body {background-color: burlywood !important;}

img {padding: 150px;
    padding-bottom: 50px;}

form {padding-top: 150px;
    padding-bottom: 50px;}

.image-hover {transition: transform 0.5s;}

.image-hover:hover {transform: scale(1.3);}

.logo {width: 100px;
    height: 100px;
    padding: 0;
    margin-top: 130px;}
    